@model GameStore.Models.Address

@{
    ViewData["Title"] = "Add Address";
}

<h2>Add Address</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Mailing Address</h3>
        <form asp-action="Create" method="post" id="frmMailing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber" class="control-label"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <input asp-for="Building" class="form-control" />
                <span asp-validation-for="Building" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="chkShipping" asp-for="IsShipping" onclick="showShipping()" /> @Html.DisplayNameFor(model => model.IsShipping)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="button" onclick="submitStudent()" value="Confirm Address" class="btn btn-success" id="btnSubmit"/>
            </div>
        </form>
       
    </div>
    <div class="col-md-4 hide" id="shippingForm">
        <h3>Shipping Address</h3>
        <form asp-action="Create1" method="post" id="frmShipping">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" required class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber" class="control-label"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <input asp-for="Building" class="form-control" />
                <span asp-validation-for="Building" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


<script>

    function showShipping() {
        // Get the checkbox
        var checkBox = document.getElementById("chkShipping");
        var form = $('#shippingForm');
        if (checkBox.checked == true) {
            form.removeClass("hide");
            document.getElementById("btnSubmit").style.marginLeft = "200px";
        } else {
            form.addClass("hide");
            document.getElementById("btnSubmit").style.marginLeft = null;
        }
    }
  
    function submitStudent() {
        var checkBox = document.getElementById("chkShipping");
        if (checkBox.checked == true) {

            var data1 = $("#frmShipping").serialize();
            var data = $("#frmMailing").serialize();

            if (!$("#frmShipping").valid() || !$("#frmMailing").valid()) {
                return false;
            }
            //if (!$("#frmMailing").valid()) {
            //    return false;
            //}
            $.ajax({
                type: 'POST',
                data: data1,
                url: '/Address/CreateShipping/',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    return true;
                },
                error: function () {
                   
                }
            })
           
            $.ajax({
                type: 'POST',
                data: data,
                url: '/Address/Create/',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    return true;
                },
                error: function () {
                   
                }
            })
        }
        else {
            var data = $("#frmMailing").serialize();
            if (!$("#frmMailing").valid()) {
                return false;
            }
            $.ajax({
                type: 'POST',
                data: data,
                url: '/Address/Create/',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    return true;
                },
                error: function () {
                    
                }
            })
        }
    }

</script>
<style>
    .hide{
        display:none;
    }
    #btnSubmit {
        width: 200px;
        height: 50px;
        font-size: 20px; 
    }
</style>
