@page
@model EmailSent
@{
    ViewData["Title"] = "Locked out";
}

<h2>Welcome to CVGS Community!!</h2>
<p>
    Thank you for joining us. Please check your email and confirm by clicking on link we sent you. 
</p>
