@model IEnumerable<GameStore.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        margin-bottom: 0.5em;
    }

    .adminToggle {
        margin-top: 1em;
    }
</style>


<div>
    <div>
        <h1>Admin Panel</h1>
    </div>
    <div class="buttonContainer">
        <a class="btnGame btn btn-success" asp-area="" asp-controller="Game" asp-action="Index">Games</a>
        <a class="btnEvent btn btn-secondary" asp-area="" asp-controller="Event" asp-action="Index">Events</a>
      
        <button type="button" class="btnReview btn btn-info">Review</button>
        <button type="button" class="btnReport btn btn-warning">Reports</button>
    </div>
    <div class="adminToggle">
       
    </div>

</div>




@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            //var data = "";
            //var html = "";
            //$(".btnReview").click(function () {
            //    $.ajax({
            //        url: "/Admin/Review",
            //        type: 'GET',
            //        dataType: 'json', // added data type
            //        success: function (res) {
            //            data = res[0];
            //            console.log(data);
            //            html += 
            //                `<div class="card" style="width: 18rem;">
            //                    <div class="card-body">
            //                        <h3 class="card-title">User: ${data.userName}</h3>
            //                        <p card-text>Title ${data.title}</p>
            //                        <p card-text>Description${data.review1}</p>
            //                                                        <button id="btnApproved"   type="button" class="btn btn-primary">Approve</button>
            //                                <button value="${data.reviewId}" id="btnDeclined" type="button" class="btn btn-danger">Decline</button>
            //                    </div>
            //                </div>`
            //            $(".adminToggle").html(html);
            //            //console.log(res);
            //            //alert(res);
            //        }
            //    });
            //});



            //$(".adminToggle").on('click', "#btnApproved", function () {
            //    // your code...
            //    alert("fer");
            //});




        });
    </script>
}
