@model IEnumerable<GameStore.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .buttonContainer {
        text-align: center;
    }

    .adminToggle {
        margin-top: 1em;
    }
</style>


<div>
    <div>
        <h1>Admin Panel</h1>
    </div>
    <div class="buttonContainer">
        <a class="btnGame btn btn-success" asp-area="" asp-controller="Game" asp-action="Index" id="manage_games">Manage Games</a>
        <a class="btnEvent btn btn-primary" asp-area="" asp-controller="Event" asp-action="Index" id="manage_events"> Manage Events</a>
        <a class="btnEvent btn btn-success" asp-area="" asp-controller="Merchandise" asp-action="Index" id="manage_merch"> Manage Merchandise</a>
        <a asp-action="Review" class="btnReview btn btn-info" id="approve_reviews">Approve Reviews</a>
        <a asp-action="Orders" class="btnReview btn btn-info" id="new_orders">New Orders</a>
        <a class="btnReport btn btn-warning" asp-area="" asp-controller="Admin" asp-action="Reports" id="view_reports">View Reports</a>
    </div>
</div>






@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
