@model GameStore.Models.FavouritePlatform

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>Favourite Platform</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            @Html.DisplayFor(model => model.Platform.Name)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlatformId" />
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
