@model IEnumerable<GameStore.Models.FavouritePlatform>

@{
    ViewData["Title"] = "Favourite Platforms";
}

<h2 style="margin-bottom:1em;">Your Favourite Platforms</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Platform.Name)
            </th>


            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Platform.Name)
                </td>


                <td>
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.PlatformId">Remove from favorites</a><br />
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Add another platform from the button bellow.</h5>
<p>
    <a type="button" class="btn btn-success" asp-action="Create">Add another Platform</a>
</p>
