@model IEnumerable<GameStore.Models.FavouritePlatform>

@{
    ViewData["Title"] = "Favourite Platforms";
}

<h2 style="margin-bottom:1em;">Your Favourite Platforms</h2>
<p>We offer games for multiple platforms including, PC,XBOX,Switch etc.  </p>
@if (Model.Count() == 0)
{
    <strong>You don't have any preferences for platforms yet, Please add one.</strong>
}
else
{
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Platform.Name)
            </th>


            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Platform.Name)
                </td>


                <td>
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.PlatformId">Remove from favorites</a><br />
                </td>
            </tr>
        }
    </tbody>
</table>
}

<p>
    <a type="button" class="btn btn-success" asp-action="Create">Add Platform</a>
</p>
