
@{
    ViewData["Title"] = "Favorite Category";
}

<h2>Favorite Category</h2>
<h4>You do not have any favorite category yet. </h4>
<br />
<p>Please click on the button below to add one.</p>
<a type="button" class="btn btn-success" asp-action="Create" asp-controller="FavouriteCategories">Add favorite category</a>

