@model IEnumerable<GameStore.Models.Wishlist>
@{
    ViewData["Title"] = "Wish list";
}

<h2>Wish List</h2>

<table class="table">
    <thead>
        @if (ViewBag.WishList.Count > 0)
        {
            <tr>
                <th>
                    Game Name
                </th>
                <th></th>
            </tr>
        }
        </thead>
    <tbody>
        @if (ViewBag.WishList.Count > 0)
        {
            @foreach (var item in ViewBag.WishList)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                 

                    <td>
                        <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.GameId">Remove from Wish List</a><br />
                    </td>

                </tr>
            }
        }
        else
        {

            @*<alert>No Item added to Wish List!</alert>
            <br><br>
            <strong>If you want to add games to wish list then follow the steps below.</strong>
            <br>
            <strong><a asp-controller="Game" asp-action="Index">Go to Games</a> > Game Details > Add to Wish List </strong>
            <br><br>*@
            
        }
    </tbody>
</table>
