@model IEnumerable<GameStore.Models.Wishlist>
@{
    ViewData["Title"] = "Wish list";
}

<h2>Wish List</h2>

<table class="table">
    <thead>
        @if (ViewBag.WishList.Count > 0)
        {
            <tr>
                <th>
                    Game Name
                </th>
                <th></th>
            </tr>
        }
        </thead>
    <tbody>
        @if (ViewBag.WishList.Count > 0)
        {
            @foreach (var item in ViewBag.WishList)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                 

                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GameId">Remove from Wish List</a><br />
                    </td>

                </tr>
            }
        }
        else
        {
             <tr>
                 <td>You don't have games in your wish list. Checkout our game list to view games and add to wish list. <a asp-controller="Game" asp-action="Index" class="btn btn-success">View games</a></td>
                 
             </tr>
        }
</tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Game">Back to game List</a>
</div>
