@model IEnumerable<GameStore.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

<table class="table">
    <thead>
        @if (ViewBag.CartGame != null || ViewBag.CartMerch != null)
        {
            @if (ViewBag.CartGame.Count > 0 || ViewBag.CartMerch.Count > 0)
            {
                <tr>
                    <th>
                       Name
                    </th>
                    <th>
                        Price
                    </th>
                    
                </tr>
            }
        }

    </thead>
    <tbody>
        @if (ViewBag.CartGame != null || ViewBag.CartMerch != null)
        {
            @if (ViewBag.CartGame.Count > 0 || ViewBag.CartMerch.Count > 0)
            {
                @foreach (var item in ViewBag.CartGame)
                {
                    <tr>
                        <td>
                            @item.Game.Name
                        </td>
                        <td>
                            $@item.Game.Price
                        </td>
                        
                        
                        <td>
                            <button onclick="window.location.href='https://wallpapercave.com/download/gta-5-4k-wallpapers-wp5334083';">
                                Click Here
                            </button>
                        </td>

                    </tr>
                }
                @foreach (var item in ViewBag.CartMerch)
                {
                    <tr>
                        <td>
                            @item.Merchandise.Name
                        </td>
                        <td>
                            $@item.Merchandise.Price
                        </td>
                  
                        <td>
                            @ViewBag.Status
                        </td>

                    </tr>
                }
            }
        }
  
        
    </tbody>
</table>
