
@{
    ViewData["Title"] = "Credit Card";
}

<h2>Credit card details</h2>
<h4>You do not have any credit card registered with us yet. </h4><br />
<p>Please click on the button below to add one.</p>
<a type="button" class="btn btn-success" asp-action="Create" asp-controller="CreditCardInfo">Add Credit Card</a>

