@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are well established store and serving the community since last 15 years. We provide best gaming experience for gamers and commit to customer satisfaction.</p>
